@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
	font-family: 'Quicksand', Arial;
	background: sandybrown;
	background-size: 100% 100%;
	min-height: 700px;
}

h1 {
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
	color: white;
}

.tulisan_login {
	text-align: center;
}

.kotak_login {
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-top: 20px;
}

label {
	font-size: 11pt;
}

.form_login {
	/*membuat lebar form penuh*/
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login {
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_reset {
	background: #ff0000;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link {
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
	text-align: center;
}

p {
	text-align: center;
}