@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

nav {
  background-color: #4d4dff;
  padding: 5px;
  position: sticky;
  top: 0;
}

header {
  display: inline;
}

main {
  padding: 20px;
  overflow: auto;
}

.wallpaper {
  background-color: sandybrown;
}

.kotak_daftar {
  width: 1000px;
  background: white;
  /*meletakkan form ke tengah*/
  margin: 80px auto;
  padding: 40px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

#content {
  float: right;
  width: 75%;
}

aside {
  float: left;
  width: 25%;
  padding-right: 20px;
}

* {
  box-sizing: border-box;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #ff7700;
  text-align: center;
  color: white;
}

nav {
  background-color: #ff8f2e;
  padding: 5px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}

footer {
  padding: 20px;
  color: white;
  background-color: #ff7700;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: inline;
}

nav a:hover {
  font-weight: bold;
}

body {
  font-family: 'Quicksand', Arial;
  margin: 0;
  padding: 0;
}

th {
  align-items: center;
}

.ubah {
  display: inline-block;
  border-radius: 2px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.hapus {
  display: inline-block;
  border-radius: 2px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

h2,
h3 {
  color: #ff7700;
}

.fontputih {
  font: 1em sans-serif;
  color: white;
}

p {
  font: 1em sans-serif;
  color: black;
}

article li {
  font: 1em sans-serif;
  color: black;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.cari {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.cari:focus {
  border: 3px solid #555;
}

img,
h3 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

#content.aman {
  float: left;
  width: 30%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

#sugest {
  float: left;
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  img {
    width: 200px;
    margin-bottom:10px;
  }

  #content,
  aside {
    width: 100%;
    padding: 0;
  }

  #content.aman {
    width: 100%;
    padding: 0;
  }
}
